/******************** MOBILE FIRST ********************/
/********** HOMEPAGE LAYOUT **********/
/*  
  // Conditionals:
    showLineBreak: true,
    showDatePublished: true,
    showPreview: true, 
    showButtons: true, 
    showForm: false, 
    showEditForm: false, 
    showPostForm: false 
*/

.stats {
  margin: 0 8px;

  display: flex;
  flex-flow: column;
  justify-content: center;

  overflow: visible;

  font-family: "Rock Salt", "Space Grotesk", sans-serif;
  font-size: 1.5rem;
  color: #f1eaea;
}

.postIt-notes {
  align-self: center;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-auto-rows: 1fr;
  gap: 15px;
}

.postIt-notes div {
  height: 200px;
  width: 200px;

  box-shadow: 5px 5px 5px black;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  color: #161616;
}

.postIt-notes div:nth-child(1) {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  position: relative;

  /* background-color: #ff55f9; */
  background: linear-gradient(#ff55f9, #cb3ac6, #ff55f9);

  transform: rotate(var(--rotation, 0.01turn));
}

.postIt-notes div:nth-child(1):before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;

  border-style: solid;
  border-width: 100px 100px 40px 100px;
  border-color: transparent rgba(0, 0, 0, 0.25) rgba(79, 13, 77, 0.25)
    transparent;
}

.postIt-notes div:nth-child(2) {
  grid-column: 2 / -1;
  grid-row: 1 / -1;
  position: relative;

  /* background-color: #55e5ff; */
  background: linear-gradient(#55e5ff, #40bbd1, #2893a5);

  transform: rotate(var(--rotation, -0.005turn));
}

.postIt-notes div:nth-child(2):before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;

  border-style: solid;
  border-width: 20px 50px 5px 10px;
  border-color: transparent rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.25) transparent;
}

.postIt-notes p {
  font-size: 1rem;
  font-weight: bold;

  text-decoration: underline double black;
}

.postIt-notes span {
  font-size: 4rem;
  font-weight: bolder;

  text-decoration: none;
}

.postIt-tabs {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: minmax(40px, 50px) 1fr;

  margin: 70px 0;
}

.postIt-tabs div {
  width: 150px;

  position: relative;

  font-family: "Rock Salt", "Space Grotesk", sans-serif;
  font-size: 1rem;
  align-self: center;

  box-shadow: 3px 3px 5px black;
}

.postIt-tabs div:nth-child(1) {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  justify-self: start;
  position: relative;

  transform: translate(-8px, 0) rotate(var(--rotation, -0.003turn));

  text-align: right;

  background-color: #fcff55;
}

.postIt-tabs div:nth-child(1) a:hover {
  color: #161616;
}

.postIt-tabs div:nth-child(1):hover::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;

  border-style: solid;
  border-width: 1rem 0.2rem 1rem 0.5rem;
  border-color: transparent #9b9d29 #9b9d29 transparent;
}

.postIt-tabs div:nth-child(1):after {
  content: "current entries below.. ";

  background-image: url("assets/images/book.png");
  background-size: contain;
  background-repeat: no-repeat;

  width: 320px;
  height: 125px;

  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(-5px, 210px);

  text-align: right;
}

.postIt-tabs div:nth-child(2) {
  grid-column: 2 / -1;
  grid-row: 1 / 2;
  justify-self: end;
  position: relative;

  transform: translate(8px, -3px) rotate(var(--rotation, 0.004turn));

  text-align: left;

  background-color: #a7ff55;

  cursor: pointer;
}

.postIt-tabs div:nth-child(2) button {
  background-color: transparent;
  border-style: none;

  font-family: "Rock Salt", "Space Grotesk", sans-serif;
  font-size: 1rem;

  cursor: pointer;
}

.postIt-tabs div:nth-child(2):hover::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;

  border-style: solid;
  border-width: 0.8rem 0.8rem 0.4rem 0.8rem;
  border-color: transparent transparent #78c331 #78c331;
}

.postIt-tabs div:nth-child(3) {
  grid-column: 1 / -1;
  grid-row: 2 / -1;
  justify-self: end;
  position: relative;

  font-size: 0.75rem;

  background: linear-gradient(#bb55ff, #953cd0, #bb55ff);

  transform: translate(var(--xPosition, 150px), 0)
    rotate(var(--rotation, 0.002turn));

  transition: transform 0.5s ease-in-out 0.1s;
}

.postIt-tabs div:nth-child(3):before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;

  border-style: solid;
  border-width: 5px 0 10px 100px;
  border-color: transparent rgba(202, 124, 255, 0.5) rgba(79, 13, 77, 0.25)
    transparent;
}

.postIt-tabs div:nth-child(3) li:hover {
  color: #ff9500;

  cursor: pointer;
}

.homepage-entry-grid {
  width: 100%;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-auto-rows: auto;

  justify-items: center;
  align-items: center;
}

.lineBreak-wrapper {
  width: 100%;

  position: relative;
}

hr {
  width: 100%;
  border-top: 17px dotted rgb(18 18 18);
  margin: 30px 0;

  position: relative;
}

.lineBreak-wrapper::before {
  content: "";
  width: 100%;

  position: absolute;
  top: 0;
  left: 0;

  border-top: 12px solid rgb(18 18 18);
  transform: translate(0, 20px);
  pointer-events: none;
}

.homepage-entry-grid .entry-content-container {
  padding: 0 8px;

  display: grid;
  grid-template-columns: 0.5fr 2fr;
  grid-template-rows: 2fr 25px;

  justify-items: center;
  align-items: start;

  gap: 10px;
}

.homepage-entry-grid .entry-content-container h2 {
  font-family: "Rock Salt", "Space Grotesk", sans-serif;
  font-size: 0.8rem;
  letter-spacing: 2px;
  text-decoration: underline double black;

  margin: 20px 0;
}

.homepage-entry-grid .entry-rating {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.homepage-entry-grid .entry-rating div {
  display: flex;
  flex-flow: column;
  justify-content: start;
  align-items: center;

  font-size: 1.8rem;
  font-family: "Rock Salt", "Space Grotesk", sans-serif;
}

.homepage-entry-grid .entry-rating hr {
  margin: 0;
  transform: rotate(-0.1turn);
  border-top: 3px groove rgb(80, 80, 80);
}

.homepage-entry-grid .entry-review {
  grid-column: 2 / -1;
  grid-row: 1 / -1;
}

.homepage-entry-grid .entry-content-container .entry-review h2 {
  margin-top: 20px;
}

.homepage-entry-grid .entry-review span {
  display: flex;
  justify-content: end;
}

.homepage-entry-grid .entry-buttons {
  grid-column: 1 / 2;
  grid-row: 2 / -1;

  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

@media only screen and (min-width: 600px) {
  .homepage-entry-grid .entire-entry-container {
    width: 100%;

    grid-auto-rows: 120px 2fr;

    margin: 0 8px;
  }

  .homepage-entry-grid .entire-entry-container .polaroid {
    justify-self: center;
  }

  .homepage-entry-grid .lineBreak-wrapper {
    width: 100%;

    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }

  .homepage-entry-grid .entry-content-container {
    width: 100%;

    grid-column: 2 / -1;
    grid-row: 2 / -1;

    display: grid;
    grid-template-columns: 0.1fr 1fr;
    grid-template-rows: auto auto;
    gap: 10px;

    padding-right: 70px;
  }

  .homepage-entry-grid .entry-content-container .entry-rating,
  .entry-review,
  .entry-buttons {
    border: 2px dashed grey;
    border-radius: 10px;
  }

  .homepage-entry-grid .entry-content-container .entry-review {
    height: 100%;
    width: 100%;

    grid-column: 2 / -1;
    grid-row: 1 / -1;
    justify-self: start;

    order: -1;

    padding: 0 8px;
  }

  .homepage-entry-grid .entry-content-container .entry-rating {
    width: 100%;

    grid-column: 1 / 2;
    grid-row: 1 / 2;

    align-self: end;
  }

  .homepage-entry-grid .entry-content-container h2 {
    margin: 0 15px;
  }

  .homepage-entry-grid .entry-content-container .entry-review h2 {
    margin-top: 16px;
  }

  .homepage-entry-grid .entry-content-container .entry-buttons {
    height: 100%;

    grid-column: 1 / 2;
    grid-row: 2 / -1;

    display: flex;
    justify-content: center;
  }
}

/********** VIEWPAGE LAYOUT **********/
/*  
  // Conditionals:
    showLineBreak: false,
    showDatePublished: true, 
    showPreview: false, 
    showButtons: true, 
    showForm: false, 
    showEditForm: false,
    showPostForm: false 
 */

.view-entryPage {
  margin-top: 70px;
  padding: 60px 0;

  position: relative;
}

.view-entryPage:before {
  content: "";
  width: 100%;

  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0, -5px);

  border-top: 17px dotted rgb(18 18 18);
}

.view-entryPage:after {
  content: "";

  background-image: url("assets/images/paperclip.png");
  background-size: contain;
  background-repeat: no-repeat;

  width: 500px;
  height: 500px;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transform: translate(35px, -80px) rotate(0.1turn) scale(0.4);
  transform-origin: top left;
}

.view-entryPage .polaroid {
  z-index: 1;
}

.view-entryPage .entry-content-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 50px auto;
  gap: 15px;
}

.view-entryPage .entry-rating {
  grid-column: 1 / 2;
  grid-row: 1 / 2;

  display: flex;
  justify-content: center;
  align-items: start;

  font-size: 1.8rem;
  font-family: "Rock Salt", "Space Grotesk", sans-serif;
}

.view-entryPage .entry-buttons {
  grid-column: 2 / -1;
  grid-row: 1 / 2;

  display: flex;
  flex-flow: row nowrap;
  justify-content: end;
  align-items: end;
  gap: 15px;
}

.view-entryPage .entry-review {
  grid-column: 1 / -1;
  grid-row: 2 / -1;

  white-space: pre-line;

  padding: 0 16px;
}

@media only screen and (min-width: 500px) and (max-width: 599px) {
  .view-entryPage:after {
    left: 4rem;
  }
}

@media only screen and (min-width: 600px) {
  .view-entryPage {
    padding: 60px 60px 60px 0;
  }

  .view-entryPage .polaroid {
    grid-column: 1 / 2;
    grid-row: 1 / -1;

    justify-self: start;
    align-self: start;
  }

  .view-entryPage .entry-content-container {
    grid-column: 2 / -1;
    grid-row: 1 / -1;

    display: grid;
    grid-template-columns: 1.5fr 3fr;
    grid-template-rows: 60px auto;
    gap: 15px;
  }

  .view-entryPage .entry-rating {
    display: flex;
    justify-content: start;
    align-items: start;

    margin-left: 12px;
  }

  .view-entryPage .entry-buttons {
    width: 130px;
    height: 40px;

    justify-self: end;
    align-self: end;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }

  .view-entryPage .entry-review {
    grid-column: 1 / -1;
    grid-row: 2 / -1;
  }
}
